[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
tests = "pytest -v"
tests-watch = "pytest-watch -v"

[packages]
chelodina = {editable = true, path = "."}

[dev-packages]
pytest = "*"
ipython = "*"
pytest-watch = "*"
astor = "*"
pre-commit = "*"
black = "*"
pudb = "*"

[requires]
python_version = "3.7"
